---
langs: ['en', 'de', 'fr']
navbar-permanent: foo
navbar:
  home:
    permanent: true
    de:
        url: /de/index.html
        name: Home
    en:
        url: /en/index.html
        name: Home
    fr:
        url: /fr/index.html
        name: Home
  location:
    permanent: true
    de:
        url: /de/lage.html
        name: Lage
    en:
        url: /en/location.html
        name: Location
    fr:
        url: /fr/localisation.html
        name: Localisation
  hunting:
    permanent: true
    de:
        url: /de/jagd.html
        name: Jagd
    en:
        url: /en/hunting.html
        name: Hunting
    fr:
        url: /fr/chasse.html
        name: Chasse
  recreation:
    permanent: true
    de:
        url: /de/erholung.html
        name: Erholung
    en:
        url: /en/recreation.html
        name: Recreation
    fr:
        url: /fr/detente.html
        name: Détente
  photos:
    permanent: false
    de:
        url: /de/fotos/
        name: Fotos
    en:
        url: /en/photos/
        name: Photos
    fr:
        url: /fr/photos/
        name: Photos
  price:
    permanent: false
    de:
        url: /de/preise.html
        name: Preise
    en:
        url: /en/price.html
        name: Price
    fr:
        url: /fr/tarifs.html
        name: Tarifs
  contact:
    permanent: false
    de:
        url: /de/kontakt.html
        name: Kontakt
    en:
        url: /en/contact.html
        name: Contact
    fr:
        url: /fr/contact.html
        name: Contact
  dedication:
    permanent: false
    de:
        url: /de/widmung.html
        name: Widmung
    en:
        url: /en/dedication.html
        name: Dedication
    fr:
        url: /fr/hommage.html
        name: Hommage
  imprint:
    permanent: footer
    de:
        url: /de/impressum.html
        name: Impressum
    en: 
        url: /en/imprint.html
        name: Imprint
    fr:
        url: /fr/empreinte.html
        name: Empreinte

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Olaf Gladis">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{% if page.title %} {{ page.title }} {% else %}
        {% if page.lang == "de" %}Wilsonfontein - Jagd Safaris in Namibia / Afrika {% endif %}
        {% if page.lang == "en" %}Wilsonfontein - Hunting Safaris in Namibia / Africa {% endif %}
        {% if page.lang == "fr" %}Wilsonfontein - Hunting Safaris en Namibie / Afrique {% endif %}
    {% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="/css/sticky-footer-navbar.css" rel="stylesheet"> -->
    <link href="/css/wilson.css" rel="stylesheet">
    <link href="/js/leaflet.css" rel="stylesheet">
    <link href="/css/lightbox.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-default " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Project name</a> -->
        </div>
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            {% for navitem in page.navbar %}
            <!-- {{navitem[1].permanent}} -->
            {% if navitem[1].permanent == true %}
              <li {% if navitem[0] == page.navname %}class="active"{% endif %}><a href="{{site.url}}{{navitem[1][page.lang].url}}">{{navitem[1][page.lang].name}}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
            
            {% for navitem in page.navbar %}
            {% if navitem[1].permanent == false %}
              <li {% if navitem[0] == page.navname %}class="active"{% endif %}><a href="{{site.url}}{{navitem[1][page.lang].url}}">{{navitem[1][page.lang].name}}</a></li>
            {% endif %}
            {% endfor %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{page.lang}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for lang in page.langs %}
                  <li><a href="{{ site.url }}{{ page.navbar[page.navname][lang].url }}" datafoo='{{navitem[0]}}:{{navitem[1]}}|:|{{navitem}}' class="{{ lang }}">{{ lang }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>{{ page.h1 | capitalize}}{% if page.p1 %} <small>{{ page.p1 | capitalize}}</small>{% endif %}</h1>
      </div>
      {{ content | markdownify }}

    </div>
    <!-- End page content -->
    <div id="footer">
      <div class="container">
        <p class="text-muted">
          {% for navitem in page.navbar %}
          {% if navitem[1].permanent == "footer" %}
            <a href="{{site.url}}{{navitem[1][page.lang].url}}" class="footerlink{% if navitem[0] == page.navname %} active{% endif %}">{{navitem[1][page.lang].name}}</a>
          {% endif %}
          {% endfor %}
          <span class="pull-right">&copy; Olaf 2014</span>
        </p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/lightbox.min.js"></script>
  </body>
</html>
