---
langs: ['en', 'de', 'fr']
navbar:
  home:
    de:
        url: /de/index.html
        name: Home
    en:
        url: /en/index.html
        name: Home
    fr:
        url: /fr/index.html
        name: Home
  location:
    de:
        url: /de/lage.html
        name: Lage
    en:
        url: /en/location.html
        name: Location
    fr:
        url: /fr/localisation.html
        name: Localisation
  hunting:
    de:
        url: /de/jagd.html
        name: Jagd
    en:
        url: /en/hunting.html
        name: Hunting
    fr:
        url: /fr/chasse.html
        name: Chasse
  recreation:
    de:
        url: /de/erholung.html
        name: Erholung
    en:
        url: /en/recreation.html
        name: Recreation
    fr:
        url: /fr/detente.html
        name: Détente
  photos:
    de:
        url: /de/fotos/
        name: Fotos
    en:
        url: /en/photos/
        name: Photos
    fr:
        url: /fr/photos/
        name: Photos
  price:
    de:
        url: /de/preise.html
        name: Preise
    en:
        url: /en/price.html
        name: Price
    fr:
        url: /fr/tarifs.html
        name: Tarifs
  contact:
    de:
        url: /de/kontakt.html
        name: Kontakt
    en:
        url: /en/contact.html
        name: Contact
    fr:
        url: /fr/contact.html
        name: Contact
  dedication:
    de:
        url: /de/widmung.html
        name: Widmung
    en:
        url: /en/dedication.html
        name: Dedication
    fr:
        url: /fr/hommage.html
        name: Hommage
  imprint:
    de:
        url: /de/impressum.html
        name: Impressum
    en: 
        url: /en/imprint.html
        name: Imprint
    fr:
        url: /fr/imprint.html
        name: Imprint

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>Sticky Footer Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="/css/sticky-footer-navbar.css" rel="stylesheet"> -->
    <link href="/css/wilson.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
<!--     <div class="navbar navbar-inverse bs-docs-nav">
      <div class="container">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"></button>
        <div class="nav-collapse collapse bs-navbar-collapse">
          <ul class="nav navbar-nav">
            {% for navitem in page.navbar %}
              <li {% if navitem[0] == page.navname %}class="active"{% endif %}><a href="{{site.url}}{{navitem[1][page.lang].url}}">{{navitem[1][page.lang].name}}</a></li>
            {% endfor %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{page.lang}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for lang in page.langs %}
                  <li><a href="{{ site.url }}{{ page.navbar[page.navname][lang].url }}">{{ lang }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
        <ul class="nav navbar-nav ">
        </ul>
      </div>
    </div> -->

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Project name</a> -->
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
            
            {% for navitem in page.navbar %}
              <li {% if navitem[0] == page.navname %}class="active"{% endif %}><a href="{{site.url}}{{navitem[1][page.lang].url}}">{{navitem[1][page.lang].name}}</a></li>
            {% endfor %}
            <li class="dropdown dropdown-split">
              <a href="#" class="foo">Dropdown</a><a href="#" class="dropdown-toggle bar" data-toggle="dropdown"><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li>
            
          </ul>
        </div>
      </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Sticky footer with fixed navbar</h1>
      </div>
      <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body > .container</code>.</p>
      <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
    </div>
    <!-- End page content -->
    <div id="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
